body {
  font-family: monospace;
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 2rem;
}

th {
  border: 1px solid black;
  padding: 5px;
  font-weight: normal;
}

td {
  border: 1px solid black;
  padding: 5px;
}

#pastOps {
  max-height: 400px;
  overflow-y: scroll;
}

pre {
  padding: 1rem;
  margin: 0;
}
